@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/700.css';

body{
  font-family: 'roboto';
}

.debug{
  background-color: rgba(165, 42, 42, 0.493);
  border: 1px solid black;
}